@charset "UTF-8";
*{box-sizing: border-box;}

html {
  /* background-image: url("../img/Stripes.jpg"); */
  background: rgb(113,61,9);
  background: radial-gradient(circle, rgba(113,61,9,1) 0%, rgba(77,45,4,1) 45%, rgba(43,30,0,1) 100%);
  background-repeat: repeat;
  background-size: 100px;
}

.wrapper{
    margin: 40px;
}

nav{
    margin: 0 auto;
    width:100%;
    background: #f17aac;
    margin: 0 0 20px 0;
    border-radius: 10px;
    overflow:hidden;
}
.navigation .fas{
    float: left;
    margin: 0;
    padding:15px;
    font-size: 20px;
    color: #f9c6d6;
}
.navigation .fas:hover{
    background-color: white;
}

/* nav ul li a{
    display:block;
    float:left;
    margin:0;
    color:#d75dfc;
    padding:20px;
    text-decoration: none;
    font-family:sans-serif;
}
nav ul li a:hover{background:white;} */

nav ul,
nav ul li,
nav ul li a {
    display:block;
    float:left;
    margin:-1px;
    padding:0;
}

nav ul{
    list-style:none;
}

nav ul li a{
    color:#f9c6d6;
    padding:20px;
    font-size: 15px;
    text-decoration: none;
    font-family:sans-serif;
    vertical-align: middle;
}

nav ul li a:hover{background:white;}

.header{
    background-color: white;
    padding: 50px 30px 30px 30px;
    box-shadow: 0px 0px 10px #000000;
    text-align: center;
}

.header .logo img{
    display: inline-block;
    /* text-align: center; */
    float: center;
    margin: auto;
    max-width: 100%;
    max-height: 150px;
}

.header h1{
    display: none;
    font-size: 5px;
}
.header p{
    display: block;
    margin: 30px 0 10px 0;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.flavorAvailibility{
    width: 100%;
    margin-bottom: 0;
    text-align: center;
}
.flavorAvailibility h2{
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 35px;
    color: white;
    margin: 30px 0 0 0;
    letter-spacing: 1px;
}
.donutTypes{
    display: inline-block;
    width: 220px;
    height: 250px;
    padding: 20px;
    margin: 0 20px 20px 20px;
    text-align: center;
    color: white;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}
.donutTypes h3{
    font-family: 'Luckiest Guy', cursive;
    font-size: 20px;
    letter-spacing: 1px;
}
.donutTypes p{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
.donutTypes img{
    width: 150px;
    height: 150px;

}

    .gone h3{
        color: red;
    }

.donutTypes:hover{
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

.whatnut{
    display: block;
    background-color: white;
    margin-top: 30px;
    padding: 20px 30px 20px 10px;
    box-shadow: 0px 0px 10px #000000;
    min-height: 230px;
}
.whatnut img{
    max-width: 230px;
    float: left;
    display: block;
    margin-right: 10px;
}
.whatnut h3{
    margin: 10px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
    letter-spacing: 1px;
    color: black;
}
.whatnut p{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.contact{
    display: block;
    max-width: 100%;
    margin-top: 30px;
    padding: 20px;
}

.contact .fas{
    display: block;
    color: #ffcefb;
    font-size: 30px;
    margin: 10px;
    text-align: center;
}

.contact p{
    font-size: 16px;
    color: white;
    margin: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 800px) {
    .whatnut{
        padding: 20px;
    }
    .whatnut img{
        float: none;
        margin: auto;
        min-width: 200px;
  }
    .whatnut h3{
        text-align: center;
  }
    .whatnut p{
        text-align: center;
  }
}
